[core]
    excludesfile = /Users/roger-that/.gitignore_global
    editor = code --wait
[alias]
    ls = "!git ls-files -v | grep '^h'"
    ignore= "!git update-index --assume-unchanged"
    no-ignore= "!git update-index --no-assume-unchanged"
    pullup = "!git pull upstream master"
    conflict = "!git diff --check | grep -i conflict"
    when = "!git show -1 --stat"
    log1 = "!git log --oneline"
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code -n --wait $MERGED
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code -n --wait --diff $LOCAL $REMOTE
[pull]
    ff = only